[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/alaa/Desktop/Untitled-2023-11-01-1400.png]
row=3
col=1

[/home/alaa/Desktop/automated_checker]
row=1
col=1

[/home/alaa/Desktop/ald_1.pdf]
row=7
col=0

[/home/alaa/Desktop/Document6.pdf]
row=6
col=0

[/home/alaa/Desktop/setter getter macros.txt]
row=2
col=1

[/home/alaa/Desktop/thorium-jgeocpdicgmkeemopbanhokmhcgcflmi-Default.desktop]
row=1
col=2

[/home/alaa/Desktop/automated_checker.zip]
row=0
col=1

[/home/alaa/Desktop/sorting_algo_to_search.txt]
row=8
col=0

[/home/alaa/Desktop/questoin]
row=4
col=0

[/home/alaa/Desktop/Yugi_flask_problem.txt]
row=5
col=3

[/home/alaa/Desktop/install qtile]
row=3
col=0

[/home/alaa/Desktop/thorium-nigookeodlehlnjcpdfifmophdcbjoma-Default.desktop]
row=5
col=0

[/home/alaa/Desktop/thorium-jckaldkomadaenmmgladeopgmfbahfjm-Default.desktop]
row=2
col=0

[/home/alaa/Desktop/thorium-pfnkgbmdhgghkhpnenggmpcfneoeejkk-Default.desktop]
row=0
col=2

[/home/alaa/Desktop/Python matlabplot]
row=9
col=0

[Trash]
row=0
col=0

[/home/alaa]
row=1
col=0

